.section {
  padding: 40px 20px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* Tablet */
@media (min-width: 768px) {
  .section {
    padding: 40px 40px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .section {
    padding: 60px 0;
  }
}
