.header {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 2rem 0.5rem;
  color: var(--orange);
  background-color: #fff0;
  width: 100%;
  overflow: visible !important;
}
.header a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  flex-basis: 50%;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.menu__item {
  text-align: center;
  padding: 0 1rem;
}

.logo__container {
  overflow: hidden;
}

.logo__title {
  font-size: 1.8rem;
  font-weight: 900;
  visibility: hidden;
  margin: 0;
}
